/* Created by: Remy Skelton
* Created on: Mar 2023
* This CSS file defines the style for index.html
* ICS2O-Unit5-01-HTML-NumberDisplay 
*/

body {
	background-color: #84b3f0;
}

h2 {
	background-color: rgb(176, 143, 255);
	color: hsl(87, 100%, 30%);
	padding: 40px;
	text-align: center;
}

H5 {
	background-color: #ba52ff;
}
h6 {
  background-color: #b152ff;
}
